<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Nueva Comida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="newFood" (ngSubmit)="saveFood()">
    <ion-list>
      
      <ion-item>
        <ion-label position="stacked">Título</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Descripción</ion-label>
        <ion-input formControlName="description" type="text" required></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">URL de la Imagen</ion-label>
        <ion-input formControlName="url_img" type="url" required></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Precio</ion-label>
        <ion-input formControlName="price" type="number" required></ion-input>
      </ion-item>

    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" color="success">Agregar Comida</ion-button>
    </div>
  </form>
</ion-content>