<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Menú
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-text-center">
    <ion-button expand="block" color="success" (click)="newFood()" >
      <ion-icon slot="start" name="add"></ion-icon>
      Food
    </ion-button>
  </div>
  <ion-list [inset]="true" lines="none" >
    @for (item of foods; track item.id) {
      <ion-item-sliding mode="ios" class="ion-margin-vertical ion-padding-vertical">
        <ion-item>
          <ion-avatar slot="start" class="custom-avatar">
            <img alt="Platillo" [src]="item.url_img" />
          </ion-avatar>
          <ion-label>
            <div class="item-header">
              <span class="item-name">{{ item.name }}</span>
              <span class="item-price">{{ item.price | currency }}</span>
            </div>
            <p class="item-description">{{ item.description }}</p>
          </ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option class="edit-option" color="secondary">
            <ion-icon  slot="icon-only" name="create"  ></ion-icon>
          </ion-item-option>
          <ion-item-option (click)="compartir(item)" class="edit-option" color="tertiary">
            <ion-icon  slot="icon-only" name="share-social"  ></ion-icon>
          </ion-item-option>
        </ion-item-options>

        <ion-item-options side="start">
          <ion-item-option class="delete-option" color="danger" >
            <ion-icon slot="icon-only" name="trash" ></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    }
  </ion-list>
</ion-content>
